@model BusinessPortal2.Models.DTO.LeaveRequestDTO.LeaveRequestUpdateDTO

@{
    ViewData["Title"] = "Update";
}
<header>
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
        <div class="container-fluid">
            <a class="navbar-brand" asp-area="" asp-controller="LeaveRequestAdmin" asp-action="AdminIndex">Admin Portal</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                <ul class="navbar-nav flex-grow-1">
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="LeaveRequestAdmin" asp-action="LeaveTypeIndex">LeaveType</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Access" asp-action="Logout">Logout</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>

<h1>Update</h1>

<h4>LeaveRequestUpdateDTO</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Update" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <label asp-for="Id" class="control-label">ID:</label>
                <input asp-for="Id" class="form-control" />
                <span asp-validation-for="Id" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="StartDate" class="control-label">Start Date:</label>
                <input asp-for="StartDate" class="form-control" />
                <span asp-validation-for="StartDate" class="text-danger"></span>
            </div>

            <div class "form-group">
                <label asp-for="EndDate" class="control-label">End Date:</label>
                <input asp-for="EndDate" class="form-control" />
                <span asp-validation-for="EndDate" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="DateRequest" class="control-label">Date Request:</label>
                <input asp-for="DateRequest" class="form-control" />
                <span asp-validation-for="DateRequest" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="PersonalId" class="control-label">Personal ID:</label>
                <input asp-for="PersonalId" class="form-control" />
                <span asp-validation-for="PersonalId" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="LeaveTypeId" class="control-label">Leave Type ID:</label>
                <input asp-for="LeaveTypeId" class="form-control" />
                <span asp-validation-for="LeaveTypeId" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="ApprovalState" class="control-label">Approval State:</label>
                <select asp-for="ApprovalState" asp-items="ViewBag.ApprovalStateOptions" class="form-control"></select>
                <span asp-validation-for="ApprovalState" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="AdminIndex">Back to List</a>
</div>
